body {
  min-height: calc(100vh + 10px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}
body header {
  height: 80px;
  background-color: rgba(25, 25, 25, 0.9);
  position: relative;
  z-index: 10;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  right: 1vw;
  transform: translateY(-50%);
}
body header nav a {
  display: inline-block;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f5f5;
  padding: 0 20px;
  transition: color 0.2s;
}
body header nav a:hover {
  color: #e1c3cd;
}
body header nav a.has-dropdown i.fa-caret-right {
  transition: transform 0.2s;
}
body header nav a.has-dropdown.open i.fa-caret-right {
  transform: rotateZ(90deg);
}
body header .social {
  position: absolute;
  height: 80px;
  left: 140px;
}
body header .social .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}
body header .social .social-links li a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.2s;
  font-size: 14px;
  line-height: 90px;
  padding: 0 10px;
  display: inline-block;
  height: 100%;
}
body header .social .social-links li a:hover {
  color: #e1c3cd;
}
body .logo {
  background-image: url(../images/hs1600.900.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 99%;
  transition: transform 2.5s;
}
body .logo.main {
  width: 20vw;
  height: 20vw;
  min-width: 170px;
  min-height: 170px;
  flex: 1 1 20vw;
  display: inline-block;
}
body .logo.main:hover {
  transform: rotateX(15deg);
}
body .logo.header {
  width: 100px;
  height: 100px;
  background-image: url(../images/hs1600.900.svg), linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), url(../images/watercolor.png);
  background-size: 140%, cover, cover;
  background-position: center 0.5vh, center center, center center;
  border-radius: 10px 0 10px 0;
  position: absolute;
  left: 20px;
  top: 5px;
  border: solid #191919 1px;
  z-index: 100;
}
body .main-landing {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
body .main-landing .pseudo-background {
  position: absolute;
  top: 0;
  bottom: -140px;
  left: 0;
  right: 0;
  background-image: linear-gradient(0deg, black 150px, rgba(0, 0, 0, 0.4) calc(20% + 150px), rgba(0, 0, 0, 0) 100%), url(../images/watercolor.png);
  background-position: center center, 50% 50%;
  background-repeat: no-repeat;
  background-size: cover, cover;
  transition: transform 2.5s, background-position 2.5s;
}
body .main-landing.dom-loaded .pseudo-background {
  transform: scale(1.1);
  background-position: center, 50% 0;
}
body .main-landing.dom-loaded.scrolled .pseudo-background {
  background-position: center, 50% -40px;
}
body .main-landing .logo-wrapper {
  position: relative;
  z-index: 10;
  border-radius: 1.5rem;
  background-color: rgba(225, 195, 205, 0.7);
  padding: 20px;
  display: inline-block;
  width: 20vw;
  min-width: 170px;
  min-height: 170px;
}
body footer {
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s;
  font-size: 20px;
  margin-top: -5px;
  position: relative;
}
body footer.viewable {
  max-height: 140px;
}
body footer .social {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
}
body footer .social .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}
body footer .social .social-links li a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.2s;
  font-size: 14px;
  line-height: 70px;
  padding: 0 10px;
  display: inline-block;
  height: 100%;
}
body footer .social .social-links li a:hover {
  color: #e1c3cd;
}
body footer div.info {
  height: 140px;
  position: relative;
}
body footer div.info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
body footer div.info ul li {
  flex: 0 1 auto;
  padding: 15px;
  color: #f5f5f5;
  border-right: solid 1px #f5f5f5;
  white-space: nowrap;
}
body footer div.info ul li:last-child {
  border-right: none;
}
body footer div.info ul li a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.2s;
}
body footer div.info ul li a:hover {
  color: #e1c3cd;
}
body section.interactive-elements > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  position: absolute;
  transition: opacity 0.2s, transform 0.2s;
}
body section.interactive-elements > *.open {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}
body section.interactive-elements > *[class*=-dropdown] {
  background-color: #e1c3cd;
}
body section.interactive-elements > *[class*=-dropdown] ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body section.interactive-elements > *[class*=-dropdown] ul li {
  transition: background-color 0.2s;
}
body section.interactive-elements > *[class*=-dropdown] ul li:hover {
  background-color: rgba(25, 25, 25, 0.9);
}
body section.interactive-elements > *[class*=-dropdown] ul li a {
  color: rgba(25, 25, 25, 0.9);
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 20px;
  transition: color 0.2s;
}
body section.interactive-elements > *[class*=-dropdown] ul li a:hover {
  color: #e1c3cd;
}

/*# sourceMappingURL=index.css.map */
